services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: fare_user
      POSTGRES_PASSWORD: fare_pass
      POSTGRES_DB: fare_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
volumes:
  pgdata: {}
