flight_fares:
  target: dev
  outputs:
    dev:
      type: postgres
      host: localhost
      user: fare_user
      password: fare_pass
      port: 5432
      dbname: fare_db
      schema: marts
      threads: 4
